header {
  border-bottom: 1px solid #ccc;
}

.header {
  padding: 17px 15px;

  .menu-active {
    transform: translateX(0) !important;
  }

  .button {
    margin-left: 15px;
  }

  .logo {
  color: $logo_color;
  font-size: $font-logo;
  font-weight: bold;
  text-decoration: none;
  margin-right: 75px;
  }

  ul {
  margin: 0;
  list-style-type: none;

    li {
    display: inline-block;
    font-size: $font-main;
    transition: transform .2s ease-in;

    &:hover {
    transform: scale(1.1);
    }

    a {
      text-decoration: none;
      color: black;
    }

    &:last-child {
    margin-right: 0 !important;
    margin-left: auto;
      }
    }
  }

  @media screen and (max-width: 863px){
  .logo {
    margin-right: 20px;
    }
  }

  @media screen and (max-width: 768px){
  .menu-collapsible {
    position: absolute;
    right: 0;
    top: 83px;
    background-color: #CDC;
    flex-direction: column;
    align-items: flex-start !important;
    padding: 10px 20px;
    box-sizing: border-box;
    flex-wrap: nowrap;
    transition: transform .5s ease-in;
    transform: translateX(-1600px);
    z-index: 10;

    .button {
      margin-left: 0;
      margin-top: 20px;
      }
    }

    ul {
      flex-direction: column;

      li:last-child {
        margin-left: 0;
      }
    }
  }


}